.header {
  background-color: var(--white);
  height: 4.375rem;
  font-family: 'Inter', sans-serif;
  position: fixed;
  width: 100vw;

  border-bottom: 1px solid var(--white-200);
}

.headerContent {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu {
    display: none;
    color: var(--gray-200);
  }

  ul {
    display: flex;
    align-items: center;
    gap: 4.125rem;

    li {
      color: var(--gray);
      position: relative;
      transition: color 0.3s;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1.5px;
        bottom: -7px;
        left: 0;
        background: var(--blue);
        transform-origin: bottom right;
        transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
      }

      &:hover {
        color: var(--gray-200);
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  @media (max-width: 1596px) {
    width: 95%;
  }

  @media (max-width: 920px) {
    .menu {
      display: block;
    }

    .activeNav ul {
      height: auto;
      visibility: visible;
    }

    ul {
      display: block;
      position: absolute;
      width: 100%;
      top: 4.375rem;
      left: 0;
      height: 0;
      background: var(--gray-200);
      z-index: 999;
      visibility: hidden;
      overflow-x: hidden;
      
      li {
        margin: 2rem 3%;
        white-space: nowrap;
        font-size: 1.25rem;
        width: 20%;
        color: var(--white-200);

        &:hover::after {
          transform: scaleX(0);
        }
      }
    }
  }
}